:root {
  --text-color: #535353;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: rgb(230, 230, 230);
  font-family: 'Space Mono', monospace;
  color: #3f3f3f;
  font-size: small;
  margin: auto;
  max-width: 42rem;
}

.header {
  padding: 15px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: max-content;
}

.header img {
  width: 100px;
  border-radius: 10%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px #999;
  /* align vertically center */
  margin-top: auto;
  margin-bottom: 0px;
}

.section {
  padding: 10px 0;
}

.section h2 {
  font-weight: bold;
  text-align: justify;
}

ul {
  margin: 0;
  padding-left: 0;
  text-align: left;
}

ul li {
  list-style-position: inside;
  margin-bottom: 20px;
  color: var(--text-color);
}

.two-column-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-list,
.right-list {
  width: 45%;
  list-style: circle;
}

.description {
  margin-bottom: 20px;
  font-style: italic;
}

.experience {
  margin-bottom: 30px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
}

.experience-title {
  display: flex;
  justify-content: space-between;
}

.title-text {
  font-weight: bold;
}

.title-company {
  font-style: italic;
}

.experience-description {
  margin-top: 10px;
}

.social-icons-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.social-icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
  color: var(--text-color);
  text-decoration: none;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  body {
      padding: 0 20px;
  }

  .header {
      flex-direction: column-reverse; /* Reverse column order */
      align-items: center; /* Center items horizontally */
      text-align: center;
  }

  .two-column-list {
      flex-direction: column;
  }

  .left-list,
  .right-list {
      width: 100%;
  }

  .experience-title {
      flex-direction: column;
  }

  .social-icons-container {
      flex-direction: row;
      justify-content: center; /* Center icons horizontally */
      align-content: center;
  }

  .social-icon {
      margin-right: 10px;
      margin-left: 10px;
  }
}

@media (max-width: 480px) {
  body {
      font-size: medium;
      padding: 0 15px;
  }

  .header img {
      margin-top: 20px; /* Add space above the image */
  }

  .section h2,
  .description,
  .experience-description {
      text-align: left; /* Keep text left-aligned */
  }

  .social-icon {
    margin-right: 10px;
    margin-left: 10px;
}
}