:root {
  --text-color: #535353;
  --faded-text: #4b5563;
  font-family: 'Inter', sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: rgb(226, 226, 226);
  font-family: 'Inter', sans-serif;
  color: #3f3f3f;
  font-size: small;
  margin: auto;
  max-width: 42rem;
}

h2{
  font-size: x-large;
  font-weight: bold;
}

.my-name{
  font-size: x-large;
  font-weight: bold;
}

.header {
  padding: 15px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: max-content;
  margin-top: 30px;
}

.header .header-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  row-gap: 10px;
}

.header h2{
  margin: 0px;
}
.header p{
  margin: 0px;
  color: var(--faded-text);
  width: 90%;
}

.header img {
  width: 120px;
  border-radius: 10%;
  margin-top: auto;
  margin-bottom: 0px;
}

.section {
  padding: 10px 0;
}

.section h2 {
  font-weight: 700;
  text-align: justify;
  margin-bottom: 10px;
  font-size: 20px;
}

.experience {
  margin-bottom: 30px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
}

.experience-title {
  display: flex;
  justify-content: space-between;
}

.title-text {
  font-weight: 600;
  font-size: 16px;
}

.title-company {
  font-style: italic;
}

.social-icons-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.social-icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
  color: var(--text-color);
  text-decoration: none;
}

.research-interests {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pill {
  padding: 5px 10px;
  margin-left: 0px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 8px;
  cursor: text;
  outline: none;
  white-space: nowrap;
  font-weight: 500;
}

.pill:hover {
  background-color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  body {
      padding: 0 20px;
  }

  .header {
      /* flex-direction: column-reverse; Reverse column order */
      align-items: center; /* Center items horizontally */
      text-align: center;
      text-align: left;
  }

  .two-column-list {
      flex-direction: column;
  }

  .left-list,
  .right-list {
      width: 100%;
  }

  .experience-title {
      flex-direction: column;
  }

  .social-icons-container {
      /* flex-direction: row; */
      /* justify-content: center; Center icons horizontally */
      /* align-content: center; */
  }

  .social-icon {
      margin-right: 10px; 
      /* margin-left: 10px; */
  }
}

@media (max-width: 480px) {
  body {
      font-size: medium;
      padding: 0 15px;
  }

  .header img {
      margin-top: 20px; /* Add space above the image */
  }

  .section h2,
  .description,
  .experience-description {
      text-align: left; /* Keep text left-aligned */
  }

  .social-icon {
    /* margin-right: 10px;
    margin-left: 10px; */
}
}