:root {
  /* --text-color: #535353;
  --faded-text: #4b5563; */
  --text-color: #111;
  --faded-text: #111;
  font-family: 'Inter', sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #fffefa; 
  /* background-color: rgb(226, 226, 226); */
  /* font-family: 'Inter', sans-serif; */
  font-family:system,-apple-system,san francisco,roboto,segoe ui,helvetica neue,helvetica,lucida grande,arial,sans-serif;
  /* color: #3f3f3f; */
  color: #111;
  /* font-size: small; */
  font-size: 16;
  margin: auto;
  max-width: 45rem;
  line-height: 1.5;
}

h2{
  /* font-size: 24px; */
  font-weight: bold;
}

.my-name{
  /* font-size: x-large; */
  font-weight: bold;
}

.header {
  padding: 15px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: max-content;
  margin-top: 30px;
  border-bottom: 2px solid black;
}

.header .header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  row-gap: 10px;
}

.header h2{
  margin: 0px;
}

.header p{
  margin: 0px;
  color: var(--faded-text);
  width: 90%;
}

.header img {
  width: 120px;
  border-radius: 10%;
  margin-top: 0px;
  margin-bottom: auto;
}

.section {
  padding: 5px 0;
}

.section > h2 {
  font-weight: 650;
  text-align: justify;
  margin-bottom: 10px;
  /* font-size: 24px; */
}

.experience {
  margin-bottom: 15px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
}

.experience-title {
  display: flex;
  justify-content: space-between;
}

.title-text {
  font-weight: 600;
  /* font-size: 16px; */
}

.title-company {
  font-style: italic;
}

.social-icons-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.social-icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
  color: var(--text-color);
  text-decoration: none;
}

.research-interests {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pill {
  padding: 5px 10px;
  margin-left: 0px;
  border: none;
  background-color: #333;
  color: rgb(226, 226, 226);
  border-radius: 8px;
  cursor: text;
  outline: none;
  white-space: nowrap;
  font-weight: 500;
}

.pill:hover {
  background-color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  body {
      padding: 0 20px;
  }

  .header {
      /* flex-direction: column-reverse; Reverse column order */
      align-items: center; /* Center items horizontally */
      text-align: center;
      text-align: left;
  }

  .two-column-list {
      flex-direction: column;
  }

  .left-list,
  .right-list {
      width: 100%;
  }

  .experience-title {
      flex-direction: column;
  }

  .social-icon {
      margin-right: 10px; 
      /* margin-left: 10px; */
  }
}

@media (max-width: 480px) {
  body {
      /* font-size: medium; */
      padding: 0 15px;
  }

  .header img {
      margin-top: 20px; /* Add space above the image */
  }

  .section h2,
  .description,
  .experience-description {
      text-align: left; /* Keep text left-aligned */
  }

}